# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#QtCreator project files
*.pro.user
=======
*.pro.user*
*~

# qt stuff
*.pro.user*
*.pro.user
Compiler.pro.user

